/* Ovdje počinje CSS za navigaciju */

#navigationUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navigationLi {
  float: left;
}

.navigationLi a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigationLi a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.navigationLi.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Ovdje završava CSS za navigaciju */


/* Ovdje počinje CSS za footer */

footer{
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

/* Ovdje završava CSS za footer*/


/* Ovdje počinje CSS za header */

header{
   top: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

/* ovdje završava CSS za header */


/* OVdje počinje CSS za main */

main {
    
    height: 100vh;
    text-align: justify;
    background-color: #ffdf80;
}

/* Ovdje završava CSS za main */


/* OVdje počinje CSS za galeriju */

#Galerija {
    margin: 0 auto;
    width: 620px;
    height: 470px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Ovdje završava CSS za galeriju */


/* Ovdje počinje CSS za formu */

#forma {
    width: 450px;
    margin-top: 70px;
    margin-left: 70px;
   
}

.formazapolja{
    font-style: normal;
    font-family: verdana;
    font-size: 20px;
    padding: 10px 40px;
    background-color: whitesmoke;
    color: black;
}


#Form-wraper{
    text-align: center;
    display: block;
}

#dateInput {
    width: 61%
}

/* Ovdje završava CSS za formu */


/* Ovdje počinje CSS za togle IDjeve */

#text1, #text2 {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#text2 {
  padding: 50px;
  display: none;
}

/* Ovdje završava CSS za togle IDjeve */


/* Ovdje počinje CSS za togle WraperZaDugmad */ 

#WraperZaDugmad{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
}

/* Ovdje počinje CSS za Slider */

.naslovnaslika{
  display: none;
  margin: 0 auto;
}

/* Ovdje završava CSS za Slider */


/* Ovdje počinje CSS za prazan div */

#prijenaslovne{
    height: 3%;
}

#prijeOnama{
    height: 1%;
}

/* Ovdje završava CSS za prazan div */


/* Ovdje počinje CSS za dugmad */

#sabmit{
    float: right;
    width: 140px;
    height: 60px;
    color:  black;
    font-size: large;
    background-color: skyblue;
    padding: 10px 40px;
    position: absolute;
    left: 442px;
}

#odaberiSlano {
    width: 140px;
    height: 50px;
    color:  black;
    font-size: large;
    background-color: skyblue;
    margin-bottom: 5px;
}

#odaberiSlatko {
    width: 140px;
    height: 50px;
    color:  black;
    font-size: large;
    background-color: skyblue;
    margin-bottom: 5px;
}

#odaberiPice {
    width: 140px;
    height: 50px;
    color:  black;
    font-size: large;
    background-color: skyblue;
    margin-bottom: 5px;
}

#hide{
    margin-left: 35px;
    width: 80px;
    height: 30px;
    color:  black;
    font-size: large;
    background-color: skyblue;
}

#show {
    width: 80px;
    height: 30px;
    color:  black;
    font-size: large;
    background-color: skyblue;
}

#click {
    margin-left: 35px;
    width: 80px;
    height: 30px;
    color:  black;
    font-size: large;
    background-color: skyblue;  
}
/* Ovdje završava CSS za dugmad */


/* Ovdje počinje CSS za tekst */

.text{
    padding: 0 35px; 
    text-align: justify;
    font-family: verdana;
    font-size: medium;
}

/* Ovdje završava CSS za tekst */


/* Ovdje počinje CSS za Kontakt-wraper */

#Kontakt-wraper{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

#UneseniPodaci{
    width: 450px;
    margin-top: 70px;
    margin-left: 70px;
    font-style: normal;
    font-family: verdana;
    font-size: 20px;
    padding-left: 40px;
    background-color: whitesmoke;
    color: black;
}

